==
<div class="lt-slider slider fullscreen">
                    <div class="center row" style="height:100%; background-color:red">
                        <div id="slider_menu" class="col s6">
                            <div class="tabbable tabs-left">
                              <ul class="nav nav-tabs">
                                AAAAAAAAA
                              </ul>
                              <div class="tab-content">
                                AAAAAAAAAAAAAAAAa
                              </div>
                            </div>
                        </div>
                        <div id="slider_menu" class="col s6">
                            
                        </div>
                    </div>