.slide-wrapper {
  width: 50vw;
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.carousel-container {
  margin: 5px auto;
  height: 100%;
  border: none;
  overflow: hidden;
  position: relative;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: green;
  padding: 0;
  white-space: nowrap;
  z-index: 1;
}

.carousel li {
  vertical-align: middle;
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel li img {
  height: 100%;
  width: 100%;
}

.arrow {
  z-index: 10;
  position: absolute;
  padding: 0 5px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow i:hover {
  color: #fff;
}

.arrow i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  opacity: 0.2;
}

.right-arrow {
  right: 0;
}

div.ui-loader {
  display: none;
}
.slide-wrapper2 {
  width: 50vw;
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.carousel-container2 {
  margin: 5px auto;
  height: 100%;
  border: none;
  overflow: hidden;
  position: relative;
}

.carousel2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: green;
  padding: 0;
  white-space: nowrap;
  z-index: 1;
}

.carousel2 li {
  vertical-align: middle;
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel2 li img {
  height: 100%;
  width: 100%;
}

.arrow2 {
  z-index: 10;
  position: absolute;
  padding: 0 5px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow2 i:hover {
  color: #fff;
}

.arrow2 i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  opacity: 0.2;
}

.right-arrow2 {
  right: 0;
}

div.ui-loader2 {
  display: none;
}
.slide-wrapper3 {
  width: 50vw;
  max-width: 1000px;
  height: 100%;
  margin: auto;
}
.carousel-container3 {
  margin: 5px auto;
  height: 100%;
  border: none;
  overflow: hidden;
  position: relative;
}

.carousel3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: green;
  padding: 0;
  white-space: nowrap;
  z-index: 1;
}

.carousel3 li {
  vertical-align: middle;
  list-style-type: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel3 li img {
  height: 100%;
  width: 100%;
}

.arrow3 {
  z-index: 10;
  position: absolute;
  padding: 0 5px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow3 i:hover {
  color: #fff;
}

.arrow3 i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  opacity: 0.2;
}

.right-arrow3 {
  right: 0;
}

div.ui-loader3 {
  display: none;
}
