.diamond {
    border-radius: 20px;
    display: block;
    float: left;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    background: #fff;
    margin-left: 72px;
    margin-top: -53px;
    width: 4em;
    height: 4em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
