// .coop_margin{
//   margin-top: calc((100vh - 640px) / 2);
// }

.sub-product-wrap, .sub-cooperation-wrap, .sub-gallery-wrap{
  display: none !important;
  height: auto;
  @include span-columns(12);
}

.sub-product-wrap{
  margin-top: calc((100vh - 576px) / 2);
}

.sub-cooperation-wrap{
  margin-top: calc((100vh - 576px) / 2);
}

.sub-cooperation-wrap, .sub-product-wrap p{
  font-size: 14px;
}

.sub-gallery-wrap{
  margin-top: calc((100vh - 528px) / 2);
}
// .sub-cooperation-wrap{
//   margin-top: calc((100vh - 656px) / 2);
// }

.sub-product-wrap .left-block{
    @include span-columns(6);
}

.sub-product-wrap .right-block{
  @include span-columns(6);
}

.sub-cooperation-wrap .left-block{
  @include span-columns(6);
}

.sub-cooperation-wrap .right-block{
  @include span-columns(6);
}

.sub-gallery-wrap .left-block{
  @include span-columns(6);
}

.sub-gallery-wrap .right-block{
  @include span-columns(6);
}

.sub-both{
  @include span-columns(12);
}

.sub-gallery-wrap .left-block .sub-both{
  @include span-columns(6);
  @include shift(3);
  float: right;
  margin-right: 0;
}

// .sub-gallery-wrap .left-block .sub-both:last-child{
//   margin-right:
// }

#sub-product-null, #sub-product-first, #sub-product-second, #sub-product-third, #sub-product-fourth, #sub-product-fifth, #sub-product-sixth, #sub-product-seventh{
  @include span-columns(6);
}

#sub-cooperation-null, #sub-cooperation-first, #sub-cooperation-second, #sub-cooperation-third, #sub-cooperation-fourth, #sub-cooperation-fifth, #sub-cooperation-sixth, #sub-cooperation-seventh{
  @include span-columns(6);
}

.right-block h3, .left-block h3{
  background: #e31e24;
  color: #fff;
  font-size: em(25px);
  font-weight: 600;
  margin: 0 0 0.3em;
  padding-left: 5px;
}

.right-block p, .left-block p{
  color: #fff;
}

.sub-text{
  @include span-columns(6);
}

.product_text{
  position: absolute;
  right: 2%;
  bottom: 0;
  text-align: right;
  opacity: .7;
}

.text_first{
  position: absolute;
  left: -120px;
  top: -80px;
  white-space: nowrap;
}

.text_second{
  position: absolute;
  left: -230px;
  top: 15px;
  white-space: nowrap;
}

.text_third{
  text-align: left;
  position: absolute;
  left: 750px;
  white-space: nowrap;
}

.text_fourth{
  top: 325px;
  left: -220px;
  position: absolute;
  white-space: nowrap;
}

.text_fifth{
  position: absolute;
  top: 110px;
  text-align: left;
  white-space: nowrap;
  left: 840px;
}

.text_sixth{
  position: absolute;
  left: -110px;
  top: 400px;
  white-space: nowrap;
}

.text_seventh{
  position: absolute;
  left: em(750px);
  top: em(400px);
  white-space: nowrap;
  text-align: left;
}

.text_eighth{
  white-space: nowrap;
  position: absolute;
  text-align: left;
  left: 670px;
  top: 470px;
}

.product_wrap {
  margin-top: calc((100vh - 700px) / 2);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 47em;
  padding: 10em;
}

.product_wrap::after{
  content: '';
  width: 100%;
  display: table;
}

.diamond {
  border-radius: 20px;
  display: block;
  float: left;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  background: #fff;
  margin-left: 72px;
  margin-top: -53px;
  width: 4em;
  height: 4em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

/* Product */

.thumb {
  position: relative;
  overflow: hidden; }

.product_break {
  clear: left;
  margin-left: 57px; }

.product_intend {
  clear: left;
  margin-left: 154px; }

#product_null{
  margin-bottom: 25px;
  margin-left: 253px; }

#product_first {
  margin-top: -56px; }

#product_second {
  margin-left: 67px;
  margin-bottom: 34px }

#product_third {
  margin-top: -65px; }

#product_fourth {
  margin-left: 65px;
  margin-top: -65px;}

#product_fifth {
  margin-top: -65px;
  margin-left: 68px; }

#product_sixth {
  margin-top: -29px; }

#product_seventh{
  margin-top: -29px;
  margin-left: 66px;
}

#product_eighth{
  margin-left: -225px;
  margin-top: 70px;
}


/* Sub */
.indent{
  margin: 1em;
}

#sub-product-null, #sub-cooperation-null{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-first, #sub-cooperation-first{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-second, #sub-cooperation-second{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-third, #sub-cooperation-third{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-fourth, #sub-cooperation-fourth{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-fifth, #sub-cooperation-fifth{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-sixth, #sub-cooperation-sixth{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-product-seventh, #sub-cooperation-seventh{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-cooperation-eighth{
  width: 7em;
  height: 7em;
  background: #fff;
  border: 1px solid #000;
}

#sub-gallery-first, #sub-gallery-second, #sub-gallery-third, #sub-gallery-fourth, #sub-gallery-fifth, #sub-gallery-sixth, #sub-gallery-seventh,{
  width: 20vh;
  height: 20vh;
  background: pink;
}
/* Cooperation */

.cooperation_wrap{
  margin-top: calc((100vh - 640px) / 2);
  width: 960px;
  height: 40em;
  padding: 14em 5em;
  margin-left: 30%;
  // margin-right: 25%;
  // margin-top: calc((100vh - 640px) / 2);
}

.product_text h4{
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  color: #007100;
  background-color: #fff;
  font-size: 4.5vmin;
  // font-weight: 600;
}

.coop_slider{
}

.coop_slide{
  position: absolute;
  top: 30%;
  left: 0;
  height: 40%;
  width: 37%;
  text-align: right;
}

p1{
    color: white;
    font-size: 1em;
}

h4 {
   font-size: 2.5em;
   font-family: 'NeuzeitSLTW01-BookHeavy';
   font-weight: 300;
   border-radius: 10px;
   color: white;
   display: inline;
   background-color: #e31e24;
   line-height: 122px;
   max-width: 650px;
   text-transform: uppercase;
   position: relative;
   z-index: 3;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   box-shadow: 10px 0 0 #e31e24, -10px 0 0 #e31e24;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   -webkit-font-kerning: normal;
   -moz-font-kerning: normal;
   font-kerning: normal;
   -webkit-font-feature-settings: "kern";
   -moz-font-feature-settings: "kern";
   font-feature-settings: "kern";
   padding: 5px 0;
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
}

.coop_slide_active{
    opacity: 1;
}

.coop_slide_not_active{
    opacity: 0;
}

.little-diamond{
  border-radius: 8.5px;
  display: block;
  float: left;
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  background: #fff;
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.thumb {
  position: relative;
  overflow: hidden; }

.cooperation_break {
  clear: left;
  margin-left: 70px; }

.cooperation_intend {
  clear: left;
  margin-left: 169px; }

#little_cooperation_first{
  margin-top: -50px;
  margin-left: 14px;
}

#little_cooperation_second{
  margin-left: 12px;
  margin-top: -50px;
}

#little_cooperation_third{
    margin-left: 10px;
    margin-top: 28px;
}

#cooperation_first{
  margin-bottom: 22px;
  margin-left: 267px; }

#cooperation_fourth {
  margin-top: -51px; }

#cooperation_fifth {
  margin-left: 73px;
  margin-bottom: 32px; }

#cooperation_sixth{
  margin-left: 10px;
}

#cooperation_seventh {
  margin-top: -61px; }

#cooperation_eighth {
  margin-left: 72px;
  margin-top: -64px;}



/* Gallery */

.gallery_wrap{
  width: 1000px;
  margin: 0 auto;
  height: 30em;
  padding: 9em 8em;
  margin-top: calc((100vh - 480px) / 2);
}

.thumb {
  position: relative;
  overflow: hidden; }

// #first, #second, #third, #fourth, #fifth, #sixth, #seventh {
//   background: #fff;
//   border-radius: 20px;
//   border: 1px solid #000;
// }

.gallery_break {
  clear: left;
  margin-left: 36px; }

.gallery_intend {
  clear: left;
  margin-left: 294px; }

#gallery_third{
  margin-top: -100px;
  height: 8em;
  width: 8em;
}

#gallery_second{
  margin-left: 78px;
}

#gallery_fourth{
  margin-top: -36px;
  margin-left: 106px;
}

#gallery_fifth{
  margin-top: -37px;
  margin-left: 78px;
}

#gallery_sixth{
  margin-top: -100px;
}

#gallery_seventh{
  margin-left: 79px;
  margin-top: -102px;
}

// SVG STYLES
.svg_item{
    -webkit-transform: rotate(-45deg) scale(1.37);
    -moz-transform: rotate(-45deg) scale(1.37);
    transform: rotate(-45deg) scale(1.37);
    height: 4em;
    width: 4em
}

.active_svg{
    fill-opacity: 0;
    stroke: white;
    stroke-width: 15px;
    background-color: red;
}

.non_active_svg{
    fill-opacity: 1;
    stroke: transparent;
}

.diamond_caption{
    position: absolute;
    text-align: center;
    left: 23%;
    top: 48%;
    height: 2em;
    width: 4em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    line-height: 40%;
    pointer-events: none;
}

.diamond_caption h{
    font-size: 0.5em;
    font-weight: bold;
    color: green;
    letter-spacing: -1px;
}

.coop_text_wrap{
  margin-top: 15%;
}

//DIAMOND gallery

.diamond_img_content{
       position: absolute;
       width: 150%;
       height: 150%;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       transform: rotate(-45deg);
       top: -20%;
       left: -15%;
       background-size: cover;
       background-position-x: 45%;
       cursor: pointer;
   }

   #diamond_img_content_1{
       background-image: url('../img/techs_img (8).jpg');
   }

   #diamond_img_content_2{
       background-image: url('../img/gal_cat (3).jpg');
   }

   #diamond_img_content_3{
       background-image: url('../img/techs_img (8).jpg');
       left: -20%;
   }

   #diamond_img_content_4{
       background-image: url('../img/gal_cat (2).jpg');
   }

   #diamond_img_content_5{
       background-image: url('http://ghouse.kz/themes/laratify-octobercms-octaskin/assets/images/rose-flower.jpg');
       cursor: default;
   }

   #diamond_img_content_6{
       background-image: url('../img/ghouse_img (9).jpg');
   }

   #diamond_img_content_7{
       background-image: url('../img/pack_img (2).jpg');
   }


   .svg_overlay{
      // width: 1536px;
      // height: 569px;
      position: absolute;
      left: -1.3%;
      top: 14%;
      ms-transform: scale(.8);
      transform: scale(.8);
   }
