#map_canvas {
  height: 50vh;
  width: 100%;
  margin-bottom: 5em;
}

#map_canvas img {
  max-width: none;
// to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
}

#map_canvas #bodyContent p {
  font-size: 1em;
  margin: 0;
}

.footer_margin{
  text-align: center;
}

.footer_margin h4{
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  color: #007100;
  background-color: #fff;
  text-align: center;
  opacity: .7;
}
