@media only screen and (min-width : 1680px) and (max-width : 1681px){
  .svg_overlay{
    top: 19%;
  }
}

@media only screen and (max-width : 1366px){
  .svg_overlay{
    ms-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    top: 18%;
  }
  .coop_margin .product_text{
    bottom: 5%;
  }
}
@media only screen and (max-width : 1279px){
  .sub-product-wrap, .sub-cooperation-wrap, .sub-gallery-wrap{
    display: block !important;
  }
  .product_wrap, .gallery_wrap, .cooperation_wrap, .svg_overlay{
    display: none !important;
  }
  .coop_margin{
    margin-top: calc((100vh - 656px) / 2);
  }
  .svg_overlay{
    transform: none;
    // top: 18%;
  }
  .modal_div{
    display: none;
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width : 992px){
  .vertical-tab-content p{
    margin-top: 0 !important;
  }
  .svg_icon{
    top: -0.6em !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
  .logo{
    display: none !important;
  }
  .navigation-menu-button{
    line-height: 2!important;
  }
  .bottom{
    bottom: 20% !important;
  }
  .partners-col img{
    height: 60% !important;
  }
  .scroll_down{
    display: none !important;
  }

  .vertical-tab-content p{
    font-size: 3.5vmin !important;
  }

  .sub-product-wrap, .sub-cooperation-wrap{
    display: none !important;
  }
  .mobile-product-wrap, .mobile-cooperation-wrap{
    display: block !important;
  }

  .mobile-cooperation-wrap{

  }

  .mobile_text{
    font-size: 3vmin;
  }

  .slide-wrapper2 {
    width: 75vw!important;
    max-width: 1000px!important;
    height: 50vh!important;
    margin: auto!important;
  }

  .slide-wrapper3 {
    width: 75vw!important;
    max-width: 1000px!important;
    height: 50vh!important;
    margin: auto!important;
  }
  .sub-gallery-wrap{
    // margin-top: calc((100vh - 528px) / 2);
  }

  #diamond_img_content_1{
    background-image: url('../img/min-gallery/min-main/min1.png');
  }
  #diamond_img_content_2{
    background-image: url('../img/min-gallery/min-main/min2.png');
  }
  #diamond_img_content_4{
    background-image: url('../img/min-gallery/min-main/min3.png');
  }
  #diamond_img_content_7{
    background-image: url('../img/min-gallery/min-main/min5.png');
  }
  #diamond_img_content_5{
    background-image: url('../img/min-gallery/min-main/min4.png');
  }
  #diamond_img_content_6{
    background-image: url('../img/min-gallery/min-main/min6.png');
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1199px){

}

@media only screen and (min-width : 1366px){

}


@media only screen and (max-width: 1200px){

}
