@media only screen and (min-width : 1680px) and (max-width : 1681px){
  .svg_overlay{
    top: 19%;
  }
}

@media only screen and (max-width : 1366px){
  .svg_overlay{
    transform: none;
  }
}
@media only screen and (max-width : 1279px){
  .sub-product-wrap, .sub-cooperation-wrap, .sub-gallery-wrap{
    display: block !important;
  }
  .product_wrap, .gallery_wrap, .cooperation_wrap, .svg_overlay{
    display: none !important;
  }
  .coop_margin{
    margin-top: calc((100vh - 656px) / 2);
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width : 992px){

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1199px){

}

@media only screen and (min-width : 1366px){

}


@media only screen and (max-width: 1200px){

}
