.gallery_wrapper{
  position: absolute;
  height: 60vh;
  width: 70vw;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  margin-left: -35vw;
  margin-top: -30vh;
  // background-color: pink;
  visibility: hidden;
}

.gallery_wrapper_background{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

#svg_mg{
  position: absolute;
  width: 8em;
  height: 8em;
  transform: rotate(-45deg);
  fill: rgba(255, 255, 255, 0.68);
  z-index: 11;
  pointer-events: none;
}

#gallery_third:hover #svg_mg{
  fill: white;
  transform: scale(1.2) rotate(-45deg);
  transition: all .3s ease;
}
