//- .carousel
//- 	input#carousel-1(type='radio', name='carousel[]', checked='')
//- 	input#carousel-2(type='radio', name='carousel[]')
//- 	input#carousel-3(type='radio', name='carousel[]')
//- 	input#carousel-4(type='radio', name='carousel[]')
//- 	input#carousel-5(type='radio', name='carousel[]')
//- 	ul.carousel__items
//- 		li.carousel__item
//- 			img(src='//lh5.googleusercontent.com/-cTEgPOnd3l8/U8-EmaZ4KNI/AAAAAAAABc8/6eacbALkQ6A/w1358-h905-no/carousel-1.JPG', alt='')
//- 		li.carousel__item
//- 			img(src='//lh4.googleusercontent.com/-ntVHbbWX5eo/U8-EmV8P4cI/AAAAAAAABc4/ICYBGkcztTc/w1358-h905-no/carousel-2.jpg', alt='')
//- 		li.carousel__item
//- 			img(src='//lh5.googleusercontent.com/-batEXUZE_e4/U8-EmLF9-hI/AAAAAAAABc0/J3tJVUa6Buk/w1358-h905-no/carousel-3.jpg', alt='')
//- 		li.carousel__item
//- 			img(src='//lh5.googleusercontent.com/-gywqIeMvel0/U8-EolKdtkI/AAAAAAAABdM/G0-NHuvvJUU/w1358-h905-no/carousel-4.jpg', alt='')
//- 		li.carousel__item
//- 			img(src='//lh5.googleusercontent.com/--2iANjL3ikc/U8-EoGJ18mI/AAAAAAAABdI/fBe-q3Gos6Y/w1358-h905-no/carousel-5.jpg', alt='')
//- 	.carousel__prev
//- 		label(for='carousel-1')
//- 		label(for='carousel-2')
//- 		label(for='carousel-3')
//- 		label(for='carousel-4')
//- 		label(for='carousel-5')
//- 	.carousel__next
//- 		label(for='carousel-1')
//- 		label(for='carousel-2')
//- 		label(for='carousel-3')
//- 		label(for='carousel-4')
//- 		label(for='carousel-5')
.slide-wrapper
	.carousel-container
		.arrow.left-arrow
			i.fa.fa-arrow-circle-left.fa-3x
		ul.carousel
			li
				img(src='https://s3.amazonaws.com/dauersampleimages/nature1.jpg')
			li
				img(src='https://s3.amazonaws.com/dauersampleimages/nature2.jpg')
			li
				img(src='https://s3.amazonaws.com/dauersampleimages/nature3.jpg')
		.arrow.right-arrow
			i.fa.fa-arrow-circle-right.fa-3x
