#myNav.overlay_contact
	// Button to close the overlay navigation
	a.closebtn#closebtn(href='javascript:void(0)') ×
	// Overlay content
	.overlay_contact_content
		h Контакты
		p 8 (7187) 74 00 16
		p г.Екибастуз, ул.Королева 74
