.mobile-cooperation-wrap
	.slide-wrapper
		.carousel-container
			.arrow.left-arrow
				i.fa.fa-arrow-circle-left.fa-3x
			ul.carousel
				li
					img#limg_1(src='img/techs_img (1).jpg')
				li
					img#limg_2.lazy(src='img/techs_img (2).jpg')
				li
					img#limg_3.lazy(src='img/techs_img (3).jpg')
				li
					img#limg_4.lazy(src='img/techs_img (4).jpg')
				li
					img#limg_5.lazy(src='img/techs_img (5).jpg')
				li
					img#limg_6.lazy(src='img/techs_img (6).jpg')
				li
					img#limg_7.lazy(src='img/techs_img (7).jpg')
				li
					img#limg_8.lazy(src='img/techs_img (8).jpg')
				li
					img#limg_9.lazy(src='img/techs_img (9).jpg')
				li
					img#limg_10.lazy(src='img/techs_img (10).jpg')
			.arrow.right-arrow
				i.fa.fa-arrow-circle-right.fa-3x
