.product_wrap
  a.diamond.thumb#product_null
  a.diamond.thumb.intend#product_first
  a.diamond.thumb.dark#product_second
  a.diamond.thumb.break#product_third
  a.diamond.thumb#product_fourth
  a.diamond.thumb.dark#product_fifth
  a.diamond.thumb.intend#product_sixth
  a.diamond.thumb.dark#product_seventh
  a.diamond.thumb.dark#product_eighth
