.product_text
	h4 Галерея
.gallery_wrap
	a#gallery_first.diamond.thumb.gallery_intend.diamond_gallery
		#diamond_img_content_1.diamond_img_content
	a#gallery_second.diamond.thumb.diamond_gallery
		#diamond_img_content_2.diamond_img_content
	a#gallery_third.diamond.thumb.gallery_break.diamond_gallery
		#diamond_img_content_3.diamond_img_content
	a#gallery_fourth.diamond.thumb.diamond_gallery
		#diamond_img_content_4.diamond_img_content
	a#gallery_fifth.diamond.thumb.diamond_gallery
		#diamond_img_content_5.diamond_img_content
	a#gallery_sixth.diamond.thumb.gallery_intend.diamond_gallery
		#diamond_img_content_6.diamond_img_content
	a#gallery_seventh.diamond.thumb.diamond_gallery
		#diamond_img_content_7.diamond_img_content
.sub-gallery-wrap
	.left-block
		.sub-both
			#sub-gallery-first.indent
		.sub-both
			#sub-gallery-second.indent
		.sub-both
			#sub-gallery-third.indent
	.right-block
		.sub-both
			#sub-gallery-fourth.indent
		.sub-both
			#sub-gallery-fifth.indent
		.sub-both
			#sub-gallery-sixth.indent
