.product_wrap
  a.diamond.thumb#product_null
  a.diamond.thumb.product_intend#product_first
  a.diamond.thumb#product_second
  a.diamond.thumb.product_break#product_third
  a.diamond.thumb#product_fourth
  a.diamond.thumb#product_fifth
  a.diamond.thumb.product_intend#product_sixth
  a.diamond.thumb#product_seventh
  a.diamond.thumb#product_eighth
.sub-product-wrap
  #sub-product-null.indent
  #sub-product-first.indent
  #sub-product-second.indent
  #sub-product-third.indent
  #sub-product-fourth.indent
  #sub-product-fifth.indent
  #sub-product-sixth.indent
  #sub-product-seventh.indent
  #sub-product-eighth.indent
