.cooperation_wrap
  a#cooperation_first.diamond.thumb
  a#little_cooperation_first.little-diamond.thumb
  a#cooperation_second.diamond.thumb
  a#little_cooperation_second.little-diamond.thumb
  a#cooperation_third.diamond.thumb
  a#cooperation_fourth.diamond.thumb.cooperation_intend
  a#cooperation_fifth.diamond.thumb
  a#little_cooperation_third.little-diamond.thumb
  a#cooperation_sixth.diamond.thumb
  a#cooperation_seventh.diamond.thumb.cooperation_break
  a#cooperation_eighth.diamond.thumb

.sub-cooperation-wrap
  #sub-product-null.indent
  #sub-product-first.indent
  #sub-product-second.indent
  #sub-product-third.indent
  #sub-product-fourth.indent
  #sub-product-fifth.indent
  #sub-product-sixth.indent
  #sub-product-seventh.indent
  #sub-product-eighth.indent
