.product_text
	h4 Галерея
.gallery_wrap
	a#gallery_first.diamond.thumb.gallery_intend.diamond_gallery
		#diamond_img_content_1.diamond_img_content
			.gallery_caption
				h4 Оборудование
	a#gallery_second.diamond.thumb.diamond_gallery
		#diamond_img_content_2.diamond_img_content
	a#gallery_third.diamond.thumb.gallery_break.diamond_gallery
		svg#svg_mg(viewBox="-55 0 135 30")
			path(d='M31.12 26.878l-5.98-5.983c-.926-.924-2.302-1.12-3.417-.586l-2.268-2.27c3.605-4.32 3.383-10.76-.676-14.816-4.296-4.296-11.26-4.296-15.557 0-4.296 4.296-4.296 11.26 0 15.555 4.057 4.058 10.495 4.282 14.817.68l2.27 2.267c-.532 1.113-.337 2.487.585 3.41l5.984 5.984c1.17 1.172 3.07 1.172 4.24 0 1.173-1.17 1.173-3.07 0-4.242zm-13.757-9.515c-3.514 3.516-9.213 3.516-12.73 0-3.513-3.514-3.513-9.213 0-12.73 3.515-3.514 9.214-3.514 12.73 0 3.516 3.517 3.516 9.217 0 12.73zm13.05 13.05c-.78.78-2.047.78-2.827 0l-5.984-5.983c-.775-.78-.775-2.048 0-2.828.78-.775 2.05-.78 2.828 0l5.984 5.984c.78.78.78 2.048 0 2.828z')
		#diamond_img_content_3.diamond_img_content
	a#gallery_fourth.diamond.thumb.diamond_gallery
		#diamond_img_content_4.diamond_img_content
	a#gallery_fifth.diamond.thumb.diamond_gallery
		#diamond_img_content_5.diamond_img_content
	a#gallery_sixth.diamond.thumb.gallery_intend.diamond_gallery
		#diamond_img_content_6.diamond_img_content
	a#gallery_seventh.diamond.thumb.diamond_gallery
		#diamond_img_content_7.diamond_img_content
.sub-gallery-wrap
	.left-block
		.sub-both
			#sub-gallery-first.indent
				#diamond_img_content_1.sub-img-content
		.sub-both
			#sub-gallery-second.indent
				#diamond_img_content_2.sub-img-content
		.sub-both
			#sub-gallery-third.indent
				#diamond_img_content_4.sub-img-content
	.right-block
		.sub-both
			#sub-gallery-fourth.indent
				#diamond_img_content_7.sub-img-content
		.sub-both
			#sub-gallery-fifth.indent
				#diamond_img_content_5.sub-img-content
		.sub-both
			#sub-gallery-sixth.indent
				#diamond_img_content_6.sub-img-content
