.gallery_wrap
  a#gallery_first.diamond.thumb.gallery_intend
  a#gallery_second.diamond.thumb
  a#gallery_third.diamond.thumb.gallery_break
  a#gallery_fourth.diamond.thumb
  a#gallery_fifth.diamond.thumb
  a#gallery_sixth.diamond.thumb.gallery_intend
  a#gallery_seventh.diamond.thumb
.sub-gallery-wrap
  #sub-gallery-first.indent
  #sub-gallery-second.indent
  #sub-gallery-third.indent
  #sub-gallery-fourth.indent
  #sub-gallery-fifth.indent
  #sub-gallery-sixth.indent
  #sub-gallery-seventh.indent
