ul.bxslider
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
  li
    .partners-row
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
      .partners-col
        img(src='http://lorempixel.com/360/200/')
script.
  $(document).ready(function(){
  $('.bxslider').bxSlider();
  });
