ul.bxslider
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
  li
    .partners-row
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
      .partners-col
        img.imgbw(src='img/partner1.png')
script.
  $(document).ready(function(){
  $('.bxslider').bxSlider();
  });
