.vertical-tabs-container
	.vertical-tabs
		a.js-vertical-tab.vertical-tab.is-active(href='javascript:void(0)', rel='tab1') Green House KZ
		a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab2') Технологии
		a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab3') Сотрудники
		a.js-vertical-tab.vertical-tab(href='javascript:void(0)', rel='tab4') Партнеры
	.vertical-tab-content-container
		a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active(href='', rel='tab1') Green House KZ
		#tab1.js-vertical-tab-content.vertical-tab-content
			p
				| Современный тепличный комплекс по выращиванию голландских роз сорта Red Naomi.
				
		a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab2') Технологии
		#tab2.js-vertical-tab-content.vertical-tab-content
			p
				| Использование передовых технологий при строительстве комплекса и при выращивании роз.
		a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab3') Сотрудники
		#tab3.js-vertical-tab-content.vertical-tab-content
			p
				| В нашем тепличном комплексе трудятся высококвалифицированные агрономы со всего мира.
		a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading(href='', rel='tab4') Партнеры
		#tab4.js-vertical-tab-content.vertical-tab-content
			p
				| Нашими партнерами являются надежные компании Казахстана, ближнего и дальнего зарубежья.
